{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Inscription{% endblock %}

{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}
<h1 class="my-2 text-center text-4xl">Inscription</h1>
{% for message in app.flashes('error') %}
    <div class="px-4 py-2 mb-2 text-red-500 text-center text-2xl">
        {{ message }}
    </div>
{% endfor %}
<div class="w-full px-3 sm:w-1/2 mx-auto flex flex-col">
{{form(signInForm)}}
<a href="{{path('app_login')}}" class="rounded bg-gray-500 p-2 text-2xl my-2 text-white self-center hover:bg-gray-600">Retour</a>
</div>
{% endblock %}
