{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Tout les mangas{% endblock %}

{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}

<div class="example-wrapper">
    <h1 class="text-4xl text-center my-2">Tout les mangas</h1>

    <div class="relative">
    <input
        class="appearance-none border-2 pl-10 border-gray-300 hover:border-gray-400 transition-colors rounded-md w-full py-2 px-3 text-gray-800 leading-tight focus:outline-none focus:ring-purple-600 focus:border-purple-600 focus:shadow-outline"
        id="username"
        type="text"
        placeholder="One Piece, Demon Slayer..."
    />
    <div class="absolute right-0 inset-y-0 flex items-center">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="-ml-1 mr-3 h-5 w-5 text-gray-400 hover:text-gray-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
        />
        </svg>
    </div>

    <div class="absolute left-0 inset-y-0 flex items-center">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 ml-3 text-gray-400 hover:text-gray-500"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
        />
        </svg>
    </div>
    </div>
    {% for manga in mangas %}
    {% set collectedVolumes = manga.mangaUser|filter(userManga => userManga.user == app.user and userManga.isCollected)|length %}
    {% set isCollectedAll = collectedVolumes == manga.volumes %}
    {% set isCollectedSome = collectedVolumes > 0 and not isCollectedAll %}
    {% set readVolumes = manga.mangaUser|filter(userManga => userManga.user == app.user and userManga.isReaded)|length %}
    {% set isReadedAll = readVolumes == manga.volumes %}
    {% set isReadedSome = readVolumes > 0 and not isReadedAll %}
    <a class="flex border-2 border-red-500 rounded m-4 p-4" href="{{path('manga_id', { id: manga.id })}}">
        <div class="max-w-sm">
            <img src="{{manga.coverImage}}" alt="{{manga.title}}">
        </div>
        <div class="flex flex-col justify-between ms-2 w-full">
            <div class="h-2/3 flex flex-col justify-around">
                <h2 class="text-3xl">{{manga.title}}</h2>
                <p class="text-2xl">De {{manga.author.fullName}}</p>
                <p class="text-2xl">Édition : {{manga.editor.name}}</p>
                {% if manga.status != "Pas commencé" %}
                    <p class="text-2xl">Date de parution : {{manga.releaseDate|date('d/m/Y')}}</p>
                {% endif %}
            </div>
            <div class="flex justify-between me-2">
                {% if manga.volumes > 1 %}
                    <p class="text-2xl">{{manga.volumes}} tomes</p>
                {% else %}
                    <p class="text-2xl">{{manga.volumes}} tome</p>
                {% endif %}
                <p class="text-2xl">Status : {{manga.status.name}}</p>
            </div>
            <div class="flex justify-around">
                <div class="{{ isCollectedAll ? 'bg-green-600' : (isCollectedSome ? 'bg-orange-600' : 'bg-red-700') }} rounded flex flex-col p-4">
                    <p class="text-2xl text-center">{{ isCollectedAll ? 'Collectionné' : 'Pas fini de collectionné' }}</p>
                    <p class="text-2xl text-center">{{ collectedVolumes }} / {{ manga.volumes }}</p>
                </div>
                
                <div class="{{ isReadedAll ? 'bg-blue-600' : (isReadedSome ? 'bg-orange-600' : 'bg-red-700') }} rounded flex flex-col p-4">
                    <p class="text-2xl text-center">{{ isReadedAll ? 'Lu' : 'Pas fini de lire' }}</p>
                    <p class="text-2xl text-center">{{ readVolumes }} / {{ manga.volumes }}</p>
                </div>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}
