{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{{manga.title}}{% endblock %}

{% block body_class %}overflow-hidden{% endblock %}

{% block body %}
{% block navbar %}{{ parent() }}{% endblock %}
{% set collectedVolumes = manga.mangaUser|filter(userManga => userManga.user == app.user and userManga.isCollected)|length %}
{% set isCollectedAll = collectedVolumes == manga.volumes %}
{% set isCollectedSome = collectedVolumes > 0 and not isCollectedAll %}
{% set readVolumes = manga.mangaUser|filter(userManga => userManga.user == app.user and userManga.isReaded)|length %}
{% set isReadedAll = readVolumes == manga.volumes %}
{% set isReadedSome = readVolumes > 0 and not isReadedAll %}
    <div class="flex flex-col h-screen">
        <h1 class="text-4xl text-center my-2">{{manga.title}}</h1>
        <div class="flex-grow flex items-center justify-center">
            <div class="flex flex-col justify-center">
                <div class="flex border-2 border-red-500 rounded m-4 p-4 h-min justify-self-center">
                    <div class="max-w-sm">
                        <img src="{{manga.coverImage}}" alt="{{manga.title}}">
                    </div>
                    <div class="flex flex-col justify-around mx-3 w-full">
                        <div class="flex flex-col">
                            <p class="text-3xl">{{manga.title}}</p>
                            <p class="text-3xl">Créée par {{manga.author.fullName}}</p>
                            <p class="text-3xl">Maison d'édition : {{manga.editor.name}}</p>
                            {% if manga.status != "Pas commencé" %}
                                <p class="text-3xl">Date de parution : {{manga.releaseDate|date('d/m/Y')}}</p>
                            {% endif %}
                        </div>
                        <div class="flex justify-between me-2">
                            {% if manga.volumes > 1 %}
                                <p class="text-3xl">{{manga.volumes}} tomes</p>
                            {% else %}
                                <p class="text-3xl">{{manga.volumes}} tome</p>
                            {% endif %}
                            <p class="text-3xl">Status : {{manga.status.name}}</p>
                        </div>
                        <div class="flex justify-between">
                            <div class="{{ isCollectedAll ? 'bg-green-600' : (isCollectedSome ? 'bg-orange-600 text-wrap max-w-40' : 'bg-red-700 text-wrap max-w-40') }} rounded flex flex-col p-4">
                                <p class="text-2xl text-center">{{ isCollectedAll ? 'Collectionné' : 'Pas fini de collectionné' }}</p>
                                <p class="text-2xl text-center">{{ collectedVolumes }} / {{ manga.volumes }}</p>
                            </div>
                            
                            <div class="{{ isReadedAll ? 'bg-blue-600' : (isReadedSome ? 'bg-orange-600 justify-center' : 'bg-red-700 justify-center') }} rounded flex flex-col p-4">
                                <p class="text-2xl text-center">{{ isReadedAll ? 'Lu' : 'Pas fini de lire' }}</p>
                                <p class="text-2xl text-center">{{ readVolumes }} / {{ manga.volumes }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if manga.status != "Pas commencé" %}
                <div {# id="custom" #} class="w-1/2 h-96 overflow-y-auto mt-4 pe-2">
                    {% for i in 1 .. manga.volumes %}
                        <div class="border-2 border-white rounded my-2">
                            <p class="text-3xl text-center">Tome {{i}}</p>
                            <div class="m-1 flex justify-around">
                            <img class="w-14 bg-orange-500 rounded-full" src="{{ asset('imgs/cross.svg') }}" alt="cross logo">
                            <img class="w-14 bg-orange-500 rounded-full" src="{{ asset('imgs/eye-closed.svg') }}" alt="eye closed logo">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}